<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Authorization badge</title>
    {% load static %}


    <link rel="stylesheet" href="{% static 'css/fake_login.css' %}">


</head>

<body>
<body>
<div class="ribbon"></div>
<div class="login">
    <h1>Let's get started.</h1>
    <p>This will be an amazing experience</p>
    <form method="POST">
        {% csrf_token %}
        <div class="input">
            <div class="blockinput">
                <i class="icon-envelope-alt"></i><input type="mail" placeholder="Email" name="email">
            </div>
            <div class="blockinput">
                <i class="icon-unlock"></i><input type="password" placeholder="Password" name="password">
            </div>
        </div>
        <button>Login</button>
    </form>
</div>
</body>


</body>
</html>
